# NICF - Python Fundamental Course for Beginners
1. You can run the notebook document sequentially (one cell at a time) by pressing **shift + enter**. 
2. While a cell is running, a [*] is shown on the left. After the cell is run, the output will appear on the next line.

## Topic 1 Get Started in Python

### What is programming?

Programming is the way of telling a machine what to do. This machine might be your computer, smartphone, or tablet. The task might be something as simple as noting down today’s date or capturing information about the Earth’s atmosphere on a satellite. 

Programming has a lot of alias names and they’re used interchangeably. It goes by programming, developing, or coding all of which involves creating software that gets a machine to do what you want it to do.

### Introduction to Python programming
Python places more weight on coding productivity and code readability. 

Python makes use of simple syntax which looks like written English. It talks with words andsentences, rather than characters. 

Python is a portable language. Python can be installed and run on any computer.

The characteristics of Python programming are:

- Python is an interpretive language and Python codes run sequentially 
- Python syntax is case sensitive
- There is no semicolon to indicate an end of the statement and therefore Python interprets the end of the line as the end of the statement.
- Python is very sensitive to spacing in front
- One more thing to keep in mind, the equal '=' sign used while assigning a value to a variable. It should not be read as 'equal to'. It should be read or interpreted as "is set to".

### Hello World program
How would you make Python print "Hello World" for you? Well, it's never been this easy, just use the <b> print </b> command.

In [ ]:
print("Hello World!")

In [ ]:
# You may try other variations
print("I am new to programming!")
print("Python is cool!")

### Comment

In [ ]:
# This is a single line comment
print("Hello, World!")

In [ ]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

### Acitivty

Python coding is a lot of fun and is easy. Take this Python code for an example:

In [ ]:
x = 2
y = 3
sum = x + y
print(sum)

## Topic 2 Data Types

### Numbers

In [ ]:
x = 1
print(x)      # This will print the new value of 'x' variable
type(x)        # This will print the most updated data type of 'x'

In [ ]:
x = x + 1.11
print(x)      # This will print the new value of 'x' variable
type(x)        # This will print the most updated data type of 'x'

#### Indentation

Python forces you to follow proper indentation. The number of spaces in indentation can be different, but all lines of code within the same block should have the same number of spaces in the indentation.

For example, the 3rd line of the code in the cell below shows incorrect indentation. Try running the code to see the error that it throws.

In [ ]:
# Python Program to calculate the square of number
num = 8
   num_sq = num ** 2
print (num_sq)

In [ ]:
# On removing the indent
num = 8
num_sq = num ** 2
print(num_sq)

In [ ]:
a = 1
b = 2
#     print(a+b)  
print(a+b)

#### Multiple Assignment

In [ ]:
a,b=1,2
a,b = b,a+b
print('a = ',a)
print('b = ',b)

In [ ]:
a,b = 1,2
a = b
b = a +b
print('a = ',a)
print('b = ',b)

#### Formatting Numbers using "format"

In [ ]:
# To print in a formatted way
a = 1
b = 2
print("{}+{}={}".format(a,b,a+b))

In [ ]:
# To format the decimal places
a = 1.222
b = 2.333
print("{:0.1f}+{:0.1f}={:0.1f}".format(a,b,a+b))

In [ ]:
# To arrange the location

a = 1.222
b = 2.333
print("{1:0.1f}+{0:0.1f}={2:0.1f}".format(a,b,a+b))

#### Formatting Numbers Using String Literals

In [ ]:
# To print in a formatted way
a = 1
b = 2
print(f"{a}+{b}={a+b}")

In [ ]:
# To format the decimal places
a = 1.222
b = 2.333
print(f"{a:0.1f}+{b:0.1f}={a+b:0.1f}")

In [ ]:
# To arrange the location
a = 1.222
b = 2.333
print(f"{b:0.1f}+{a:0.1f}={a+b:0.1f}")

#### Activity: Format Numbers

a = 4.444

b = 5.555

c = 6.6666

d = a + b +c

Use string literals method to format the output as shown below
5.55 + 6.67 + 4.4 = 17

In [ ]:
a = 4.444
b = 5.555
c = 6.6666
d = a + b +c

print(________________)

#### Solution: Format Numbers

In [ ]:
a = 4.444
b = 5.555
c = 6.6666
d = a + b +c

print(f"{b:0.2f}+{c:0.2f}+{a:0.1f}={a+b+c:0.0f}")

#### Multiline Statements

In [ ]:
biology_marks = 82
physics_marks = 91
maths_marks = 96
chemistry_marks = 88
total_marks = biology_marks + physics_marks + maths_marks + chemistry_marks
print (total_marks)

If a line is too long, the code can be made readable by adding a split, to a single line of code and convert them into multiple lines. In such scenarios, use backward slash as line continuation character to specify that the line should continue.

In [ ]:
total_marks = biology_marks + \
    physics_marks + \
    maths_marks + \
    chemistry_marks

print(total_marks)

**bold text**### Strings

Python support single and double quotes. But the quotation has to be consistent.

In [ ]:
# Concatenate two strings

a = 'Hello'
b = " World"
print(a+b)

In [ ]:
# Change the casing in string

a = "Hello".upper()
print(a)
b = " World".lower()
print(b)
print(a+b)

### Strings

In [ ]:
a = 'Hello'
b = " World"
print(a+b)

#### String Methods

In [ ]:
a = "The GST is 7%" 
b = a.replace("GST","Good and Service Tax")
print(b)

#### Formatting Strings

In [ ]:
# Method 1: format
b ="budget"
print("A {} is a quantitative plan for acquiring and using resources over a specified period".format(b))

In [ ]:
# Method 2: String literals
b ="budget"
print(f"A {b} is a quantitative plan for acquiring and using resources over a specified period")

#### Activity: Format String

bs ="balance sheet"
income ="income statement"

Print the following output using string literals method

"The finance statements typically require Balance sheet and INCOME STATEMENT."

In [ ]:
bs ="balance sheet"
income ="income statement"

print(__________________)

#### Solution: Format String

In [ ]:
bs ="balance sheet"
income ="income statement"

print(f"The finance statements typically require {bs.capitalize()} and {income.upper()}.")

#### Strip Whitespace

In [ ]:
# Remove the spacing in string

a = "         Hello".strip()
b = " World"
print(a+b)

#### Split and Join Strings

In [ ]:
a = 'Asset is the sum of Liability and Equity. '
b = a.split()
print(b)

a = 'Asset = Liability + Equity '
b = a.split("=")
print(b)

c = " = ".join(b)
print(c)

#### Activity: Split and Join String

Given email = 'finance@company.com'

- separate the user name and domain name
- join back the username and domain name with a '/'

In [ ]:
email = 'finance@company.com'

b = email.__________
print(b)
c = "/".__________
print(c)

#### Solution: Split and Join String

In [ ]:
email = 'finance@company.com'

b = email.split("@")
print(b)
c = "/".join(b)
print(c)

### Lists

Lists in Python, are used to store heterogeneous types of data. Lists are mutable i.e. one can change the content within a list, without changing its identity.


List is enclosed by square brackets and elements should be separated by a comma.

#### Creating lists

In [ ]:
new_list = []  # Empty List
print(new_list)
type(new_list)

In [ ]:
new_list = [10, 20, 30, 40]  # A list of integers
print(new_list)
type(new_list)

In [ ]:
new_list = [10, 20.2, "thirty", 40]  # A list of mixed data types
print(new_list)
type(new_list)

In [ ]:
new_list = [[10, 20, 30], [10.1, 20.2, 30.3], [
    "ten", "twenty", "thirty"]]  # A nested list
print(new_list)
type(new_list)

In [ ]:
new_list = [10, [20.2, ["thirty", [40]]]]  # A deeply nested list
print(new_list)
type(new_list)

#### Slicing List

In [ ]:
a = [7,8,9,10,11] 
a[0]

In [ ]:
a = [7,8,9,10,11] 
a[2]

In [ ]:
a = [7,8,9,10,11] 
a[0:3]

In [ ]:
a = [7,8,9,10,11] 
a[2:4]

In [ ]:
a = [7,8,9,10,11] 
a[-1]

In [ ]:
a = [7,8,9,10,11] 
a[-2]

In [ ]:
a = [7,8,9,10,11] 
a[:]

In [ ]:
a = [7,8,9,10,11] 
a[0:4:2]

#### List Methods
Let us have a look at few of the methods, with which we can manipulate lists.

Please Note: A function or a method is a block of code which is used to perform a single task or a set of tasks repeatedly.

list.<b>index</b> (x) <br>
It returns a zero-based index in the list of the first item whose value is x. Raises an error of there is no such item as 'x'.

In [ ]:
a = ['equity','liability','asset','expense','income']

a.index('expense')

list.<b>append</b> (x) <br>
Add an item to the end of the list

In [ ]:
a = ['equity','liability','asset','expense','income']
a.append('revenue')
a

list.<b>extend</b> (x) <br>
Extend the list by appending all the items at the end of the list.

In [ ]:
a = ['equity','liability','asset','expense','income']
b = ['cash flow', 'budget']
b.extend(a)
b

list.<b>insert</b> (i,x) <br>
Insert an item at any given position within the list. The first argument 'i', is the index of the item before which you want to insert something.

In [ ]:
# To insert something at the beginning of the list, you may type list.insert (0,x)
a = ['equity','liability','asset','expense','income']
a.insert(0,'budget')
a

In [ ]:
# Inserting an item at the 2th position in a list

a = ['equity','liability','asset','expense','income']
a.insert(2,'budget')
a

list.<b>remove</b> (x)<br>
Remove the first item from the list whose value is 'x'. It is an error if there is no such item.

In [ ]:
a = ['budget','equity','liability','asset','expense','income']
a.remove('budget')
a

In [ ]:
a = ['budget','equity','liability','asset','expense','income']
a.remove('asset')
a

list.<b>pop</b> (i) <br>
Remove any item from any given position (index) in the list. If no index is specified, it removes and returns the last element from the list.

In [ ]:
a = ['budget','equity','liability','asset','expense','income']
a.pop()
a

In [ ]:
a = ['budget','equity','liability','asset','expense','income']
a.pop(2)
a

list.<b>count</b> (x) <br>
Returns the number of times 'x' appears in the list

In [ ]:
a = ['equity','budget','equity','liability','asset','equity','expense','income']
a.count('equity')

list.<b>reverse</b> () <br>
It reverses the items of the list.

In [ ]:
a = ['budget','equity','liability','asset','expense','income']
a.reverse()
a

list.<b>sort</b> () <br>
It sorts the items in the list.

In [ ]:
a = ['budget','equity','liability','asset','expense','income']
a.sort()
a

list.<b>copy</b> () <br>
It duplicate another list.

In [ ]:
a = ['equity','liability','asset','expense','income']
b = a.copy()
b.pop()
a

In [ ]:
c = a 
c.pop()
a

#### Activity: List

years =['2017,'2018','2020','2021']

- copy from original years to years2
- remove 2021 in years2
- insert '2019' in location 2 in years2
- reverse the order of years2

In [ ]:
y1 =['2017','2018','2020','2021']

y2 = ___________
y2._____________
y2.______________________
y2

#### Solution: List

In [ ]:
y1 =['2017','2018','2020','2021']

y2 = y1.copy()
y2.remove('2021')
y2.insert(2,'2019')
y2

### Tuple

Tuple is an immutable list. Similar to lists a tuple can contain a heterogeneous sequence of elements but it is not possible to append, edit or remove any individual elements within a tuple.

#### Creating Tuple

In [ ]:
new_tup = ()  # Empty Tuple
print(new_tup)
type(new_tup)

In [ ]:
new_tup = (10, 20, 30, 40)  # A tuple of integers
print(new_tup)
type(new_tup)

In [ ]:
new_tup = (10, 20.2, 'thirty', 40)  # A tuple of mixed data type
print(new_tup)
type(new_tup)

In [ ]:
new_tup = ((10, 20, 30), (10.1, 20.2, 30.3),
           ("ten", "twenty", "thirty"))  # A nested tuple
type(new_tup)

In [ ]:
new_tup = (10, (20.2, ("thirty", (40))))  # A deeply nested tuple
print(new_tup)
type(new_tup)

#### Slicing Tuples

In [ ]:
a = ('equity','liability','asset','expense','income')
a[0]

In [ ]:
a = ('equity','liability','asset','expense','income')
a[1]

In [ ]:
a = ('equity','liability','asset','expense','income')
a[-1]

In [ ]:
a = ('equity','liability','asset','expense','income')
a[0:2]

#### Tuple vs List

In [ ]:
b = ['equity','liability','asset','expense','income']
b.append('budget')
print(f"The list is {b}")
a = ('equity','liability','asset','expense','income')
a.append('budget')
print(f"The tuple is {a}")

### Dictionary

A dictionary is generally used for mapping. Similarly, a dictionary in Python also has a mapping between its “Key” and “Value” pairs. You can access the dictionary using ‘keys’ to get the information or ‘value’ stored within these ‘keys’.

#### Creating dictionaries

Dictionaries are enclosed in brace brackets and the key: value pair should be separated by a comma.

In [ ]:
new_dict = {}  # Empty Dictionary
print(new_dict)
type(new_dict)

In [ ]:
# Creating a new dictionary

revenue = {'2017': '1.3M', '2018': '2.2M', '2019': '3.5M'}
print(revenue)
type(revenue)

#### Accessing Dictionary Value

In [ ]:
# Printing multiple values of various keys

revenue = {'2017': '1.3M', '2018': '2.2M', '2019': '3.5M'}
revenue['2017'], revenue['2019']

#### Dictionary Methods

Let us have a look at the few functions for accessing or manipulating dictionaries.

<b>len (x_dict)</b> <br>
To know the number of key: value pairs in the dictionary.

In [ ]:
revenue = {'2017': '1.3M', '2018': '2.2M', '2019': '3.5M'}
len(revenue)

<b>x_dict.keys ( )</b> <br>
Returns all the 'keys' of dictionaries

In [ ]:
revenue = {'2017': '1.3M', '2018': '2.2M', '2019': '3.5M'}
revenue.keys()

<b>x_dict.values ( )</b> <br>
Returns all the 'values' of dictionaries

In [ ]:
revenue = {'2017': '1.3M', '2018': '2.2M', '2019': '3.5M'}
revenue.values()

The <b>del</b> statement <br>
It is used for deleting any keys from the dictionary.

In [ ]:
revenue = {'2017': '1.3M', '2018': '2.2M', '2019': '3.5M'}
del revenue['2017']
revenue

x_dict.<b>pop (key) </b> <br>
It will pop a 'value' of the reqired key and remove the key

In [ ]:
revenue = {'2017': '1.3M', '2018': '2.2M', '2019': '3.5M'}
print(revenue.pop('2018'))
revenue

### Set

A set is an unordered collection with no duplicate elements. They are useful to create lists that hold only unique values and are also mutable. The elements of a set can be anything like numbers, strings or characters.

#### Creating Sets

In [ ]:
new_set = {}  # Empty Set ---> An empty set cannot be created
print(new_set)
type(new_set)

In [ ]:
new_set = {'equity','liability','asset','expense','income'} # A new set
print(new_set)
type(new_set)

In [ ]:
# Now there are 2 'equity' in our set. What will happen if we print this set?

new_set = {'equity','liability','asset','expense','income','equity'} 

print(new_set)  # The set will only print unique values

#### Set Methods

You can even perform mathematical operations like set union, set intersection, set difference and symmetric difference amongst different datasets.

<b> x.union(y) </b> <br>
This method returns all the unique items that are present in the two sets, as a new set.

In [ ]:
a = {'equity','liability','asset'}
b = {'asset','expense','income'}
a.union(b)

<b> x.intersection(y) </b> <br>
This method returns the common items that are present in two sets, as a new set.

In [ ]:
a = {'equity','liability','asset'}
b = {'asset','expense','income'}
a.intersection(b)

<b> x.difference(y) </b> <br>
This method returns the items of 'set 1' which are not common (repetitive) to the 'set 2', as a new set.

In [ ]:
a = {'equity','liability','asset'}
b = {'asset','expense','income'}
a.difference(b)

<b>y.issubset(x)</b> <br>
This method returns True for 'Set 2', if all the elements of 'Set 2' are present in 'Set 1'

In [ ]:
a = {'equity','liability','asset'}
b = {'asset'}
b.issubset(a)

<b>x.issuperset(y)</b><br>
This method returns True for 'Set 1' if all the elements of Set 2 are present in 'Set 1'.

In [ ]:
a = {'equity','liability','asset'}
b = {'equity','liability','asset','expense','income','equity'} 
b.issuperset(a)

#### Activity: Set

sent = "A budget is a quantitative plan for acquiring and using resources over a specified period."

Find out the number of unique vocabulary in this sentence

In [ ]:
sent = "A budget is a quantitative plan for acquiring and using resources over a specified period."

words = ____________
vocab = ______________
len(vocab)

#### Solution: Set

In [ ]:
sent = "A budget is a quantitative plan for acquiring and using resources over a specified period."

words = sent.split()
vocab = set(words)
len(vocab)

## Topic 3 Operators

In [ ]:
# Arithmetic Operators

7%3

In [ ]:
# Compound Operators

a = 1
#a = a + 2
a += 2
a

In [ ]:
# Comparison Operators
3>2

In [ ]:
3==2

In [ ]:
3!=2

In [ ]:
# Membership Operators

a = ['equity','liability','asset','expense','income']
'asset' in a

In [ ]:
'property' in a

In [ ]:
# Logical Operators

True or False

In [ ]:
True and False

### Activity: Operator

a = 1; b = 2;

What is  (a == 1) and not(b > 3) ?

In [ ]:
a = 1; b = 2;
(_________) and not(______)

### Solution: Operator

In [ ]:
a = 1; b = 2;
(a == 1) and not(b > 3)

## Topic 4 Control Structure, Loop and Comprehension

### If and elif

In python, the syntax for an ‘if' conditional statement is as follows:

<pre>if (condition_1):<br>
    statement_block_1<br>
elif (condition_2):<br>
    statement_block_2<br>
elif (condition_3):<br>
    statement_block_3<br></pre>
<br>
Let us consider an example to understand the working of an 'if' statement.

In [ ]:
stock_price_ABC = 299  # Variable value

if (stock_price_ABC < 300):  # if condition_1 is true then...
    # statement_block_1 will get executed
    print("We will buy 500 shares of ABC")

elif (stock_price_ABC == 300):
    print("We will buy 200 shares of ABC")

elif (stock_price_ABC > 300):
    print("We will buy 150 shares of ABC")

If you change the value of the variable 'stock_price_ABC' to...

In [ ]:
stock_price_ABC = 300  # then...

if (stock_price_ABC < 300):
    print("We will buy 500 shares of ABC")

elif (stock_price_ABC == 300):  # if condition_2 is true then...
    # statement_block_2 will get executed
    print("We will buy 200 shares of ABC")

elif (stock_price_ABC > 300):
    print("We will buy 150 shares of ABC")

If you change the value of the variable 'stock_price_ABC' to...

In [ ]:
stock_price_ABC = 301  # then...

if (stock_price_ABC < 300):
    print("We will buy 500 shares of ABC")

elif (stock_price_ABC == 300):
    print("We will buy 200 shares of ABC")

elif (stock_price_ABC > 300):  # if condition_3 is true then...
    # statement_block_3 will get executed
    print("We will buy 150 shares of ABC")

### If and else 

If - else block of conditional statements is similar to the working of 'if' statements. If the 'if' condition is <b>true</b>, then the statements inside the 'if' block will be executed. If the 'if' condition is <b> false</b>, then the statements inside the 'else' block will be executed. 

In Python, the syntax for an ‘if else' conditional statement is as follows:

<pre>if (condition_1):<br>
    statement_block_1<br>
else:<br>
    statement_block_2<br></pre>
<br>
Let us consider an example to understand the working of an 'if else' statement.

In [ ]:
stock_price_ABC = 300

if (stock_price_ABC > 250):  # if condition 1 is true then....
    # this block of code will be executed
    print("We will sell the stock and book the profit")

else:
    print("We will keep buying the stock")

If you change the value of the variable 'stock_price_ABC' to...

In [ ]:
stock_price_ABC = 200  # then...

if (stock_price_ABC > 250):  # if condition 1 is false then....
    print("We will sell the stock and book the profit")

else:
    # this block of code will be executed
    print(" We will keep buying the stock")

### Activity: Conditional

income = input('What is your income?' )

income = int(income)

- if income is more than  8000, then print "High income"
- if income is is between 4000 to 8000, then print "Medium high income"
- if income is between 2000 to 4000, then print "Medium income"
- if income is between 1000 to 2000, then print "Medium low income"
otherwise, print "Low income"

In [ ]:
# Exercise
income = input('What is your income?' )
income = int(income)
if ________:
    print('High income')
elif ___________:
    print('Medium high income')
elif ______________:
    print('Medium income')
elif _____________:
    print('Medium low income')
else:
    print("Low income")

### Solution: Conditional

In [ ]:
# Exercise
income = input('What is your income?' )
income = int(income)
if income > 8000:
    print('High income')
elif income > 4000:
    print('Medium high income')
elif income > 2000:
    print('Medium income')
elif income > 1000:
    print('Medium low income')
else:
    print("Low income")

### Ternary Operator

In [ ]:
# Ternary Operator

order = 10
discount = 25 if order>100 else 0
discount

### While Loop

The while construct consists of a condition and block of code. 

The general syntax for a ‘while’ loop is as follows: 

<pre>
<b> while condition/expression:
    block of statements</b>
</pre>

To begin, the condition is evaluated.<br>

If the condition is true, the 'block of statements' is executed. Every time, the condition is checked before executing the block of statements. <br>

This keeps on repeating until the condition becomes false. Once the condition is false, it comes out of the loop to execute the other statements.

#### Simple Example of While Loop

In [ ]:
a = 0  # Variable

while a <= 10:  # This is the condition. The loop will execute until the condition becomes 'false'
    a = a + 1
    print(a)
print("We are now out of the loop")

#### Activity: Compute Fibonacci Seq and Golden Ratio Using While Loop

Generate a python list of 10 square numbers using for loop and the range

[1,4,9,16,25,36,49,64,81,100]

In [ ]:
a,b=0,1
fib = []
golden_ratio = []
while (_____________):
    ___________
print(fib)
print(golden_ratio)

#### Solution: Compute Fibonacci Seq and Golden Ratio Using While Loop

In [ ]:
a,b=0,1
fib = []
golden_ratio = []
while (b<100):
    a,b = b,a+b
    fib.append(b)
    golden_ratio.append(round(b/a,3))
print(fib)
print(golden_ratio)

#### Why Multiiple Assignment

In [ ]:
a,b=0,1
fib = []
golden_ratio = []
while (b<100):
    a = b
    b = a+b
    fib.append(b)
    golden_ratio.append(round(b/a,3))
print(fib)
print(golden_ratio)

In [ ]:
# Compute Golden Ratio
a,b=0,1
while (b<5000):
    a,b = b,a+b
    r = b/a
    print(r)

### For Loop

In the programming languages, there are many situations when you need to execute a block of code several numbers of times. A loop statement allows us to execute a statement or group of statements multiple times.

The general syntax for a ‘for’ loop is as follows: 

<pre>
<b>for (variable) in <b>sequence:
    block of statements</b>
</pre>

#### For Loop Example

Here, the block of statements within the loop will get executed, until all ‘sequence’ elements get exhausted. Once all sequence elements are exhausted, the program will come out of the loop.

In [ ]:
# Closing prices of the ABC stock over 10 days

Close_Price_ABC = [300, 305, 287, 298, 335,
                   300, 297, 300, 295, 310]  # Our sequence

for i in Close_Price_ABC:

    if i < 300:
        print("We Buy")

    if i == 300:
        print("No new positions")

    if i > 300:
        print("We Sell")

print("We are now out of the loop")

#### Range

In [ ]:
for i in range(1,20,2):
    print(i)

#### Activity : For Loop

Generate a python list of 10 square numbers using for loop and the range

[1,4,9,16,25,36,49,64,81,100]

In [ ]:
a = []

______________:
    a.append(i*i)
a

#### Solution : For Loop

In [ ]:
a = []

for i in range(1,11):
    a.append(i*i)
a

#### Enumerate

In [ ]:
year = ['2017','2018','2019']
revenue = [150000,200000,500000]

for i,y in enumerate(year):
    r = revenue[i]
    print(f"{y}'s revenue is ${r}")

#### Zip

In [ ]:
year = ['2017','2018','2019']
revenue = [150000,200000,500000]

data = zip(year,revenue)
for y,r in data:
    print(f"{y}'s revenue is ${r}")

#### Activity: Loop Multiple Sequences

year = ['2017','2018','2019']

revenue = [150000,200000,500000]

expense = [90000,100000,250000]

data = ___________________

<pre>
for y,r,e in data:
    print(f"{y}'s revenue is ${r} and expense is ${e}")
</pre>

In [ ]:
year = ['2017','2018','2019']
revenue = [150000,200000,500000]
expense = [90000,100000,250000]

data = ___________________
for y,r,e in data:
    print(f"{y}'s revenue is ${r} and expense is ${e}")

#### Solution: Loop Multiple Sequences

In [ ]:
year = ['2017','2018','2019']
revenue = [150000,200000,500000]
expense = [90000,100000,250000]

data = zip(year,revenue,expense)
for y,r,e in data:
    print(f"{y}'s revenue is ${r} and expense is ${e}")

#### Break

In [ ]:
# Closing prices of the ABC stock over 10 days

Close_Price_ABC = [300, 305, 287, 298, 335,
                   300, 297, 300, 295, 310]  # Our sequence

for i in Close_Price_ABC:

    if i < 300:
        break

    if i == 300:
        print("No new positions")

    if i > 300:
        print("We Sell")

print("We are now out of the loop")

3### Continue

In [ ]:
# Closing prices of the ABC stock over 10 days

Close_Price_ABC = [300, 305, 287, 298, 335,
                   300, 297, 300, 295, 310]  # Our sequence

for i in Close_Price_ABC:

    if i < 300:
        continue

    if i == 300:
        print("No new positions")

    if i > 300:
        print("We Sell")

print("We are now out of the loop")

#### List Comprehension

In [ ]:
a = [i*i for i in range(1,11)]
a

In [ ]:
a = [i*i for i in range(1,11) if i%2==0]
a

### Set Comprehension

In [ ]:
a = {i*i for i in range(1,11)}
a

#### Dict Comprehension

In [ ]:
a = {i:i*i for i in range(1,11)}
a

#### Generator

In [ ]:
a = (i*i for i in range(1,11))
print(next(a))
print(next(a))
print(next(a))

#### Activity: List Comprehension

Create a comprehensive list of 10 square numbers that are not divisible by 3 and 5

[1, 4, 16, 49, 64, 121, 169, 196, 256, 289]

In [ ]:
a = [i*i for i in range(1,20) if ___________ and not i%5==0]
a

#### Solution : List Comprehension

In [ ]:
a = [i*i for i in range(1,20) if not i%3==0 and not i%5==0]
a

## Topic 5 Function

The syntax for constructing a function is:
<pre>
def function_name (parameter-list):
	Statements, i.e function body
    return a value, if required
</pre>
Let us create ‘my_function’.

This is a simple function which we have created to calculate the exponential of any number. Now, whenever we need to perform this particular calculation, all we need to do is <b>call</b> this function and insert the values for <b>‘x’</b> and <b>‘n’</b>. You may have a look at it.

In [ ]:
def my_function(x, n):
    output = x ** n
    return output

In [ ]:
my_function(10, 2)  # 10 raise to 2 = 100

In [ ]:
my_function(5, 3)  # 5 raise to 3 = 125

#### Activity: Function


The FV calculation allows investors to predict, with varying degrees of accuracy, the amount of profit that can be generated by different investments

Create a function for compute the future value given by:

FV = PV * ((1+r) ** n)

where
- FV: Future value
- PV: Present value
- r: annual interest rate
- n: number of years

In [ ]:
def FV(PV,r,n):
    FV = ____________
    return FV

#### Solution: Function

In [ ]:
def FV(PV,r,n):
    FV = PV * ((1+r) ** n)
    return FV

In [ ]:
PV = 1000
r = 0.05
n = 1

fv = FV(PV,r,n)

print(fv)

#### Another Example

In [ ]:
def fare(d):
    book=2.0
    start=3.0
    cost=1.0
    fare=book+start+d*cost
    return fare

In [ ]:
fare(10)

#### Mutlple Outputs

In [ ]:
def f(x):
    return x*x,2*x

In [ ]:
f(5)

#### Activity: Multiple Return

Prompt the user for the order 
Create a function to return the discount amount and the tax for grocery purchase

- discount = 25 if order > 200 else 0
- disc_amt = discount*order/100
- tax = 0.07*(order - disc_amt)

In [ ]:
def grocery(order):
    discount = ________________
    disc_amt = discount*order/100
    tax = 0.07*(order - disc_amt)
    return ____________

In [ ]:
order = input('How much is your. order')
order = float(order)
discount,tax = grocery(order)
print('The discount is ${}'.format(discount))
print('The tax is ${}'.format(round(tax,2)))

#### Solution: Multiple Return

In [ ]:
def grocery(order):
    discount = 25 if order > 200 else 0
    disc_amt = discount*order/100
    tax = 0.07*(order - disc_amt)
    return disc_amt,tax

In [ ]:
order = input('How much is your. order')
order = float(order)
discount,tax = grocery(order)
print('The discount is ${}'.format(discount))
print('The tax is ${}'.format(round(tax,2)))

#### Multiple Arguments

In [ ]:
def f(x,y):
    return x*y

In [ ]:
f(2,3)

In [ ]:
f(2)

#### Default Argument

In [ ]:
def f(x,y=3):
    return x*y

In [ ]:
f(2)

In [ ]:
def f(x=3,y=3):
    return x*y

In [ ]:
f()

In [ ]:
f(y=5)

#### Variable Argument

In [ ]:
def sum(*b):
    sum = 0
    for i in b:
        sum = sum + i
    return sum

In [ ]:
sum(1,2,3,4,5,6,7,8,9,10)

#### Activity: Variable Arguments

Give a sequence of variable number of elements, create a function to determine the minimum value

Eg a =[5,4,7] then function will return 4

In [ ]:
def min(*b):
    m = ________
    for i in b:
        _______
    return m

#### Solution: Variable Arguments

In [ ]:
def min(*b):
    m = b[0]
    for i in b[1:]:
        if i<m: m=i
    return m

In [ ]:
min(7,4,8,9,10)

#### Lambda Function

The lambda operator is a way to create small <b>anonymous functions</b> i.e. functions without a name.<br>
<br>
They are temporary functions i.e. they are needed only where they have been created.<br>
<br>
The lambda feature was added in Python due to high demand from the Lisp programmers (Lisp is a programming language).

The general syntax for Lambda is as follows:<br>
<pre><b>lambda</b> argument_list: expression</pre>
Let us have a look at some of the examples.

It is similar to defining a function where x and y are the parameters and x + y is the operation performed in the block of codes.<br>

You can even observe, that the usage of lambda is the same as the function call.

In [ ]:
sum = lambda x, y: x + y
sum(2, 3)

In [ ]:
product = lambda x, y: x * y
product(2, 3)

In [ ]:
my_operation = lambda x, y, z:  x + y - z
my_operation(10, 20, 30)

### Activity: Lambda
<pre>
f = lambda x,y: 10*x+y 

def g(f,x,y=0):
  return f(x,y); 

What is g(f,4)?

</pre>

In [ ]:
f = lambda x,y: 10*x+y

def g(f,x,y=0):
  return f(x,y);

In [ ]:
g(f,4)

#### Map

One of the advantages of using a lambda is the map() function.<br>
<pre> map (<b>lambda</b>, sequence of lists)</pre>
map() applies the lambda function to all elements within the sequence. These elements are generally lists.

In [ ]:
list_1 = [1, 2, 3, 4]
list_2 = [10, 20, 30, 40]
list(map(lambda x, y: x + y, list_1, list_2))

In [ ]:
list_1 = [1, 2, 3, 4]
list_2 = [10, 20, 30, 40]
list_3 = [100, 200, 300, 400]
list(map(lambda x, y, z: x + y + z, list_1, list_2, list_3))

In [ ]:
list_2 = [10, 20, 30, 40]
list_3 = [100, 200, 300, 400]
list(map(lambda y, z: y + z, list_2, list_3))

#### Activity: Map

Using map to compute the answer for 
f = lambda x,y:10*x+y

x = [0,1,2,3]

y = [2,4,6,8]

In [ ]:
f = lambda x,y:10*x+y
x = [0,1,2,3]
y = [2,4,6,8]

b = map(____________)
list(b)

#### Solution: Map

In [ ]:
f = lambda x,y:10*x+y
x = [0,1,2,3]
y = [2,4,6,8]

b = map(f,x,y)
list(b)

### Filter

Another advantage of using a lambda is the filter() function.<br>
<pre> filter (<b>lambda</b>, list)</pre>
It is an elegant way to filter out the required elements from a list

In [ ]:
fib = [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55] 
list(filter(lambda x: x > 8, fib))

In [ ]:
fib = [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55] 
list(filter(lambda x: x < 8, fib))

In [ ]:
signals = ['Buy', 'Sell', 'Sell', 'Buy', 'Buy', 'Sell', 'Buy'] 
list(filter(lambda x: x == 'Buy', signals))

### Activity: Filter

Using filter to remove all the negative values in  
x = [0,1,-4, 2,-6,3]

In [ ]:
x = [0,1,-4, 2,-6,3]

b = filter(___________)
list(b)

### Solution: Filter

In [ ]:
x = [0,1,-4, 2,-6,3]

b = filter(lambda x:x>=0,x)
list(b)

## Topic 6 Modules and Packages

Any file in Python which has a .py extension can be a module. A module can consist of arbitrary objects, classes, attributes or functions which can be imported by users.

### Importing Modules

There are different ways to import modules. Let us begin by importing the 'math' module.

In [ ]:
import math

print(math.sin(0.5))
print(math.pi)

In [ ]:
import math as m
m.sin(0.5)

In [ ]:
from math import *
sin(0.5)

In [ ]:
from math import sin,pi
sin(pi/2)

In [ ]:
import time

print(sin(pi/2))
time.sleep(10)
print(cos(pi/2))

In [ ]:
import random
die = random.choice([1,2,3,4,5,6])
die

In [ ]:
import urllib.request
with urllib.request.urlopen('http://python.org/') as f:
   html = f.read()
print(html)

### Installing Python Packages
In the previous units, you have learned and practised how to import a python package. Built-in packages such as Pandas, NumPy are available by default in Python. 

But there are a lot more other packages publically available you might want to use. If you try to import such packages without installing them first you would get an error called 'ModuleNotFoundError'.

### Install package using pip

Pip, a package installer, is used to install and manage packages that are available in Python Package Index (PyPi) which is a repository for Python packages.

It is a recommended tool as most of the python packages are made available through PyPi. Pip is installed along when you install Python in your system. You need not worry about downloading or installing pip exclusively.

To install the package in a Jupyter notebook, you can use the following command.

`!pip install package_name`

To install the package in a command prompt or Spyder, you can use the below command.

`pip install package_name`

In [ ]:
!pip install numpy
!pip install matplotlib
!pip install pandas
!pip install yfinance

#### Pandas Demo: Import Stock Data from CSV File

In [ ]:
import pandas as pd

stock = pd.read_csv('https://raw.githubusercontent.com/tertiarycourses/datasets/master/Singtel.csv')
stock.head()

In [ ]:
# Preparing Data to visualise

stock_close =stock[['Date', 'Close']]  # The columns which we require
stock_close.set_index('Date', inplace=True)  # Setting index as date

# More on this in the upcoming section on 'Pandas'
stock_close

#### Matplotlib Demo: Visualize Stock Price History

In [ ]:
import matplotlib.pyplot as plt

# This customizes the size of the plot as per the inputs. Here 14,5 represents the breadth and length of the plot.
plt.figure(figsize=(14, 5))

# This helps in plotting the blue color of the ‘infy_close’ series line graph.
plt.plot(stock_close, 'b')
# plt.plot (infy_close, 'g') # to plot green color

# This helps in plotting the discrete red data points of the closing prices of ‘infy_close’ series.
plt.plot(stock_close, 'ro')
# Here ‘r’ stands for ‘red’ and ‘o’ stands for circles while plotting our discrete data points.
# That is why the points are colored red and the default line color is blue.

# This gives a grid layout to the plot.
plt.grid(True)

# This gives the title to the plot.
plt.title('Singtel Close Price Representation')

# This labels the x-axis
plt.xlabel('Trading Days')

# This labels the y-axis
plt.ylabel('Singtel Close Price')


# To plot and visualise the data
plt.show()

#### Yahoo Finance Demo

In [ ]:
import yfinance as yf
stock = yf.download('Z74.SI', start="2017-01-01", end="2021-11-30")
stock.tail()

In [ ]:
# Preparing Data to visualise

stock_close =stock[['Close']]  # The columns which we require

stock_close.tail()

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

# This customizes the size of the plot as per the inputs. Here 14,5 represents the breadth and length of the plot.
plt.figure(figsize=(14, 5))

# This helps in plotting the blue color of the ‘infy_close’ series line graph.
plt.plot(stock_close, 'b')
# plt.plot (infy_close, 'g') # to plot green color

# This helps in plotting the discrete red data points of the closing prices of ‘infy_close’ series.
plt.plot(stock_close, 'ro')
# Here ‘r’ stands for ‘red’ and ‘o’ stands for circles while plotting our discrete data points.
# That is why the points are colored red and the default line color is blue.

# This gives a grid layout to the plot.
plt.grid(True)

# This gives the title to the plot.
plt.title('Singtel Close Price Representation')

# This labels the x-axis
plt.xlabel('Trading Days')

# This labels the y-axis
plt.ylabel('Close Price')


# To plot and visualise the data
plt.show()